node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.git
.github
.gitignore
*.log
**/*.log
.env
**/.env
.env.*
!.env.example
e2e
docs
.vscode
**/.DS_Store
Dockerfile
**/Dockerfile
docker-compose*.yml
